.formContainer {
    width: 100vw;
    height: 55vh;
    background-color: #15142b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formContainer h2 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 70px;
    font-weight: 700;
}

.form {
    border: 1px solid #363458;
    border-radius: 12px;
    height: 90%;
    width: 50%;
    padding: 2rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.inputContainer input, .inputContainer textarea {
    border: none;
    border-bottom: 1px solid #363458;
    padding: 0 0 1rem 0;
    outline: none;
    background-color: transparent;
    resize: vertical;
    width: 100%;
    transition: 300ms;
}

.inputContainer input:focus, .inputContainer textarea:focus {
    border-bottom: 1px solid #fe3e57;
}

.inputContainer button {
    background: #fe3e57;
    color: #fff;
    border: 1px solid #fe3e57;
    outline: none;
    margin-top: 20px;
    border-radius: 40px;
    padding: 17px 40px 13px;
    cursor: pointer;
    width: 15rem;
}